CSharp/2_Intermediate/LINQ/LINQExamples/.vs
CSharp/2_Intermediate/LINQ/LINQExamples/LINQExamples/bin
CSharp/2_Intermediate/LINQ/LINQExamples/LINQExamples/obj
CSharp/2_Intermediate/LINQ/LINQExamples/Linq.Ch2.Features/bin
CSharp/2_Intermediate/LINQ/LINQExamples/Linq.Ch2.Features/obj
