@page
@model PumToFood.ClientRestaurantModel
@{
    ViewData["Title"] = "ClientRestaurant";
}

<h1>ClientRestaurant</h1>

@section Scripts {
    <script>


        $(function () {
            $.ajax("/api/restaurants", { method: "get" })
                .then(function (response) {
                    console.dir(response); // ?
                });
        });


    </script>
}