@page
@model PumToFood.Pages.Restaurant.ListModel
@{
}

    <h1>
        This is the Restaurant!! BUAHAHAH
    </h1>

    <div>
        <p>
            @Model.Message
        </p>
        <p>
            @Model.Message2
        </p>
    </div>